doctype html
head
  title ROOMING
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel='icon', href='/images/favicon.png', type='image/x-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i%7CMerriweather:300,300i,400,400i,700,700i,900,900i', rel='stylesheet')
  // Bootstrap Stylesheet
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  // Font Awesome Stylesheet
  link(rel='stylesheet', href='/css/font-awesome.min.css')
  // Custom Stylesheets
  link(rel='stylesheet', href='/css/style.css')
  link#cpswitch(rel='stylesheet', href='/css/orange.css')
  link(rel='stylesheet', href='/css/responsive.css')
  // Owl Carousel Stylesheet
  link(rel='stylesheet', href='/css/owl.carousel.css')
  link(rel='stylesheet', href='/css/owl.theme.css')
  // Flex Slider Stylesheet
  link(rel='stylesheet', href='/css/flexslider.css', type='text/css')
  // Date-Picker Stylesheet
  link(rel='stylesheet', href='/css/datepicker.css')
  // Magnific Gallery
  link(rel='stylesheet', href='/css/magnific-popup.css')
  // Color Panel
  link(rel='stylesheet', href='/css/jquery.colorpanel.css')
// ====== LOADER =====
.loader
// ============= TOP-BAR ===========
#top-bar.tb-text-white
  .container
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
      // end columns
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        #links
          ul.list-unstyled.list-inline
            li
              a(href='/login')
                span
                  i.fa.fa-lock
                | Login
            li
              a(href='/register')
                span
                  i.fa.fa-plus
                | Sign Up
        // end links
      // end columns
    // end row
  // end container
// end top-bar
nav#mynavbar-1.navbar.navbar-default.main-navbar.navbar-custom.navbar-white
  .container
    .navbar-header
      button#menu-button.navbar-toggle(type='button')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .header-search.hidden-lg
        a.search-button(href='javascript:void(0)')
          span
            i.fa.fa-search
      a.navbar-brand(href='/')
        span
          i.fa.fa-plane
          | ROOM
        | ING
    // end navbar-header
    #myNavbar1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.active
          a(href='/')
            | Inici
            span
        li.dropdown
          a(href='/categories')
            | Categories
            span
        li.dropdown
          a(href='/rooms')
            | Rooms
            span
    // end navbar collapse
  // end container
// end navbar
// ========================= FLEX SLIDER =====================
section#flexslider-container-1.flexslider-container
  #slider-1.flexslider.slider
    ul.slides
      li.item-1(style='\
      background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/homepage-slider-1.jpg) 50% 0%;\
      background-size:cover;\
      height:100%;')
      // end item-1
  // end slider
  #search-tabs-3.search-tabs
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.no-pd-r
          ul.nav.nav-tabs
            li
              a(href='#flights', data-toggle='tab')
                span
                  i.fa.fa-search
                span.st-text Cercador
          .tab-content
            #hotels.tab-pane.in.active
              form
                .row
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .row
                      .col-xs-12.col-sm-12.col-md-12
                        .form-group.right-icon
                          label CIUTAT
                          select.form-control
                            option(selected='') Barcelona
                            option Lleida
                            option Girona
                            option Tarragona
                          i.fa.fa-angle-down
                      // end columns
                      .col-xs-6.col-sm-6.col-md-6
                        .form-group.right-icon
                          label Categoria
                          select.form-control
                            option(selected='') Terror
                            option Futurista
                            option Fantasia
                            option Infantil
                          i.fa.fa-angle-down
                      // end columns
                      .col-xs-6.col-sm-6.col-md-6
                        .form-group.right-icon
                          label Participants
                          select.form-control
                            option(selected='') 01
                            option 02
                            option 03
                            option 04
                          i.fa.fa-angle-down
                      // end columns
                    // end row
                  // end columns
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12.search-btn
                    button.btn.btn-orange Cerca
                  // end columns
                // end row
            // end hotels
          // end tab-content
        // end columns
        .hidden-xs.hidden-sm.col-md-6.no-pd-l
          .welcome-message
            h2 Busques un Room Scape?
            p
              | Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis. Est atqui timeam mnesarchum at, pro an eros perpetua ullamcorper, imeam mnesarchum at, pro an eros perpetua ullamcorper.
            a.btn.btn-w-border(href='#') Saber M&eacute;s
      // end row
    // end container
  // end search-tabs
// end flexslider-container
// =============== ROOM OFFERS ===============
section#hotel-offers.section-padding
  .container
    .row
      .col-sm-12
        .page-heading
          h2 ELS NOSTRES ROOM SCAPES
          hr.heading-line
        // end page-heading
        #owl-hotel-offers.owl-carousel.owl-theme.owl-custom-arrow
          each room in rooms
            .item
              .main-block.hotel-block
                .main-img
                  a(href='#')
                    // IMATGE
                    each foto in fotos
                      if foto.room_id == room.id && foto.principal
                        img.img-responsive(src=foto.URL, alt='roomscape-img')
                  .main-mask
                    ul.list-unstyled.list-inline.offer-price-1
                      li.price
                        | #{room.Preu} €
                        span.divider |
                        span.pkg PER PERSONA
                      li.rating
                        span
                          i.fa.fa-star.orange
                        span
                          i.fa.fa-star.orange
                        span
                          i.fa.fa-star.orange
                        span
                          i.fa.fa-star.orange
                        span
                          i.fa.fa-star.lightgrey
                  // end main-mask
                // end offer-img
                .main-info.hotel-info
                  .arrow
                    a(href='#')
                      span
                        i.fa.fa-angle-right
                  // end arrow
                  .main-title.hotel-title
                    a(href='#') #{room.Nom}
                    p #{room.Descripcio}
                  // end hotel-title
                // end hotel-info
              // end hotel-block
            // end item
        // end owl-hotel-offers
        .view-all.text-center
          a.btn.btn-orange(href='#') Veure m&eacute;s
        // end view-all
      // end columns
    // end row
  // end container
// end hotel-offers
// ======================= FOOTER =======================
section#footer.ftr-heading-o.ftr-heading-mgn-1
  #footer-bottom.ftr-bot-black
    .container
      .row
        #copyright.col-xs-12.col-sm-6.col-md-6.col-lg-6
          p
            | &copy; 2017 
            a(href='#') Rooming
            | . All rights reserved.
        // end columns
        #terms.col-xs-12.col-sm-6.col-md-6.col-lg-6
          ul.list-unstyled.list-inline
            li
              a(href='/terms') Termes i Condicions
            li
              a(href='/polices') Politica de Privacitat
            li
              a(href='/contact') | Contacte 
        // end columns
      // end row
    // end container
  // end footer-bottom
// end footer
// Page Scripts Starts
script(src='/js/jquery.min.js')
script(src='/js/jquery.colorpanel.js')
script(src='/js/jquery.magnific-popup.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery.flexslider.js')
script(src='/js/bootstrap-datepicker.js')
script(src='/js/owl.carousel.min.js')
script(src='/js/custom-navigation.js')
script(src='/js/custom-flex.js')
script(src='/js/custom-owl.js')
script(src='/js/custom-date-picker.js')
script(src='/js/custom-video.js')
script(src='/js/popup-ad.js')
script(src='/js/rooming.js')
// Page Scripts Ends
