doctype html
head
  title ROOMING
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel='icon', href='/images/favicon.png', type='image/x-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i%7CMerriweather:300,300i,400,400i,700,700i,900,900i', rel='stylesheet')
  // Bootstrap Stylesheet
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  // Font Awesome Stylesheet
  link(rel='stylesheet', href='/css/font-awesome.min.css')
  // Custom Stylesheets
  link(rel='stylesheet', href='/css/style.css')
  link#cpswitch(rel='stylesheet', href='/css/orange.css')
  link(rel='stylesheet', href='/css/responsive.css')
  // Owl Carousel Stylesheet
  link(rel='stylesheet', href='/css/owl.carousel.css')
  link(rel='stylesheet', href='/css/owl.theme.css')
  // Flex Slider Stylesheet
  link(rel='stylesheet', href='/css/flexslider.css', type='text/css')
  // Date-Picker Stylesheet
  link(rel='stylesheet', href='/css/datepicker.css')
  // Magnific Gallery
  link(rel='stylesheet', href='/css/magnific-popup.css')
  // Color Panel
  link(rel='stylesheet', href='/css/jquery.colorpanel.css')
// ====== LOADER =====
.loader
// ============= TOP-BAR ===========
#top-bar.tb-text-white
  .container
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
      // end columns
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        #links
          ul.list-unstyled.list-inline
            li
              a(href='/login')
                span
                  i.fa.fa-lock
                | Iniciar Sessió
            li
              a(href='/register')
                span
                  i.fa.fa-plus
                | Registra't
        // end links
      // end columns
    // end row
  // end container
// end top-bar
nav#mynavbar-1.navbar.navbar-default.main-navbar.navbar-custom.navbar-white
  .container
    .navbar-header
      button#menu-button.navbar-toggle(type='button', onclick='openNav()')
        span.icon-bar
        span.icon-bar
        span.icon-bar      
      a.navbar-brand(href='/')
        span
          img(src="images/scape-yellow.png", alt="").icon-logo
          | ROOM
        | ING
    // end navbar-header
    #myNavbar1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.active
          a(href='/')
            | Inici
            span
        li.dropdown
          a(href='/categories')
            | Categories
            span
        li.dropdown
          a(href='/rooms')
            | Rooms
            span
        li.dropdown
          a(href='/map')
            | Mapa
            span
    // end navbar collapse
  // end container
// end navbar
.sidenav-content
  #mySidenav.sidenav
    h2#web-name
      span
      | Rooming
    #main-menu
      .closebtn
        button#closebtn.btn.btn-default(onclick="closeNav()") &times;
      // end close-btn
      .list-group.panel
        a.list-group-item(href='/', data-parent='#main-menu')
          span
            i.fa.fa-home.link-icon(style='font-size:20px;')
          | Inici
          span
        a.list-group-item(href='/categories', data-parent='#main-menu')
          span
            i.fa.fa-list-ul.link-icon
          | Categories
          span
        a.list-group-item(href='/rooms', data-parent='#main-menu')
          span
            i.fa.fa-lock.link-icon(style='font-size:20px;')
          | Rooms
          span
        a.list-group-item(href='/map', data-parent='#main-menu')
          span
            i.fa.fa-map.link-icon
          | Mapa
          span
    // end mySidenav
  // end sidenav-content
// ==== INNERPAGE-WRAPPER =====
section.innerpage-wrapper(style='background-color: #f1f2f2;')
  #login.innerpage-section-padding
    .container
      .row
        .col-sm-3
        .col-sm-6
          .flex-content
            .custom-form.custom-form-fields(style='background-color: #fafafa;')
              h3 Crea el teu usuari
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              form#registerForm
                .row
                  .col-sm-6
                    .form-group
                      input.form-control(type='text', placeholder='Nom', name='Nom', required='')
                      span
                        i.fa.fa-user
                  .col-sm-6
                    .form-group
                      input.form-control(type='text', placeholder='Cognom', name='Cognom', required='')
                      span
                        i.fa.fa-user
                .form-group
                  input.form-control(type='text', placeholder='Nom usuari', name='Nick', required='')
                  span
                    i.fa.fa-user
                .form-group
                  input.form-control(type='email', placeholder='Correu Electronic', name='Email', required='')
                  span
                    i.fa.fa-envelope
                .form-group
                  input.form-control.dpd1(type='text', placeholder='Any naixament', name='AnyNaixement', required='')
                  span
                  i.fa.fa-calendar
                .form-group
                  input.form-control(type='text', placeholder='Població', name='Poblacio', required='')
                  span
                    i.fa.fa-map-marker
                .form-group
                  input#password.form-control(type='password', placeholder='Contrasenya', name='Contrasenya', required='')
                  span
                    i.fa.fa-lock
                .form-group
                  input#confirm_password.form-control(type='password', placeholder='Confirma Contrasenya', required='')
                  span
                    i.fa.fa-lock                
                button#submitBtn.btn.btn-orange.btn-block(type='submit') Crear Compte
              .other-links
                p.link-line
                  | Ja tens usuari? 
                  a(href='/login') Inicia sessi&oacute;
              // end other-links
            // end custom-form
          // end form-content
        // end columns
      // end row
    // end container
  // end login
// end innerpage-wrapper
// ======================= FOOTER =======================
section#footer.ftr-heading-o.ftr-heading-mgn-1
  #footer-bottom.ftr-bot-black
    .container
      .row
        #copyright.col-xs-12.col-sm-6.col-md-6.col-lg-6
          p
            | &copy; 2017 
            a(href='#') Rooming
            | . All rights reserved.
        // end columns
        #terms.col-xs-12.col-sm-6.col-md-6.col-lg-6
          ul.list-unstyled.list-inline
            li
              a(href='/terms') Termes i Condicions
            li
              a(href='/polices') Politica de Privacitat
            li
              a(href='/contact') | Contacte 
        // end columns
      // end row
    // end container
  // end footer-bottom
// end footer
// Page Scripts Starts
script(src='/js/jquery.min.js')
script(src='/js/jquery.colorpanel.js')
script(src='/js/jquery.magnific-popup.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery.flexslider.js')
script(src='/js/bootstrap-datepicker.js')
script(src='/js/owl.carousel.min.js')
script(src='/js/custom-navigation.js')
script(src='/js/custom-flex.js')
script(src='/js/custom-owl.js')
script(src='/js/custom-date-picker.js')
script(src='/js/custom-video.js')
script(src='/js/popup-ad.js')
// Page Scripts Ends
script.
  $(document).ready(function(){
    console.log('ready');
    $('#registerForm').submit(function(){
      var pass = $('#password').val();
      var confPass = $('#confirm_password').val();
      if (pass == confPass){
        $('#registerForm').attr('action','/register');
        $('#registerForm').attr('method','post');
      }else{
        alert('Les contrasenyes han de coincidir!');
        return false;
      }
    });
  });
  
script.
  $('#password, #confirm_password').on('keyup', function () {
  if ($('#password').val() == $('#confirm_password').val()) {
  $('#password').css('border', 'solid 2px green');
  $('#confirm_password').css('border', 'solid 2px green');
  } else{
  $('#password').css('border', 'solid 2px red');
  $('#confirm_password').css('border', 'solid 2px red');
  }
  });
  $('#password, #confirm_password').on('keyup', function () {
  if ($('#password').val() == '') {
  $('#password').css('border', 'none');
  }
  if ($('#confirm_password').val() == ''){
  $('#confirm_password').css('border', 'none');
  }
  });
